TAG=latest

PG_DATABASE_USER=postgres
PG_DATABASE_PASSWORD=replace_me_with_a_strong_password_without_special_characters
PG_DATABASE_HOST=db
PG_DATABASE_PORT=5432
PG_DATABASE_NAME=default
REDIS_URL=redis://redis:6379

# Cambia esto por la URL real donde quede accesible Twenty (ej. https://crm.moswendesigns.com)
SERVER_URL=http://localhost:3000

# Genera un valor random para cada uno con: openssl rand -base64 32
ENCRYPTION_KEY=replace_me_with_a_random_string

STORAGE_TYPE=local
